# b/152468658
dontaudit vdc self:capability kill;
dontaudit fsck self:capability kill;
dontaudit odrefresh self:capability kill;
dontaudit linkerconfig self:capability kill;
